{
    "extends": ["airbnb-typescript/base"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "linebreak-style":["error", "windows"],
        "max-classes-per-file":0,
        "@typescript-eslint/indent":[0, "tab"],
        "max-len":["error", { "code": 150 }],
        "no-restricted-syntax":"off"
    }
}